<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LSBGenerator___PD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LSBGenerator___PD.Properties.Settings>
            <setting name="radio8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radio16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radio32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radio9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioUTF8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioUTF16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioUTF32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioASCII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioLSB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioXOR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="red" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="green" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="multi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioorg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radiobmp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radiopng" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radiogif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radiojpg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radiojpeg" serializeAs="String">
                <value>False</value>
            </setting>
        </LSBGenerator___PD.Properties.Settings>
    </userSettings>
</configuration>